:root {
    --colorP: #109148;
    --colorP1: #047636;
    --colorP2: #005A27;
    --colorp1: #2BA460;
    --colorp2: #4BB579;
    --colorS: #145D81;
    --colorS1: #094A69;
    --colorS2: #033750;
    --colors1: #2B7091;
    --colors2: #4884A1;
    --hoverl-color: #53fa77;
    --bg-color2: #1f412713;
    --icon-colorF: #4267B2;
    --icon-colorT: #1DA1F2;
    --icon-colorI: #D42B81;
    --icon-colorIs: #F99B4A;
    --icon-colorY: #FF0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.galeria {
    font-family: 'open sans';
}

.galeria h1 {
    color: white !important;
    text-align: center;
    margin: 20px 0 15px 0;
    font-weight: 300;
}

.linea {
    border-top: 5px solid #109148;
    margin-bottom: 40px;
}

.contenedor-imagenes {
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}

.contenedor-imagenes .imagen {
    width: 32%;
    position: relative;
    height: 250px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
}

.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #10914890;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
}

.overlay h2 {
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.imagen:hover .overlay {
    height: 100%;
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    .contenedor-imagenes {
        width: 95%;
    }
}

@media screen and (max-width:700px) {
    .contenedor-imagenes {
        width: 90%;
    }
    .contenedor-imagenes .imagen {
        width: 48%;
    }
}

@media screen and (max-width:450px) {
    h1 {
        font-size: 22px;
    }
    .contenedor-imagenes {
        width: 98%;
    }
    .contenedor-imagenes .imagen {
        width: 80%;
    }
}